// 页底 css样式
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -35px;
}

.push {
  height: 35px;
}

.footer {
  position: relative;
  height: 35px;
  background-color: #f2f2f2;
}
.footer .container {
  text-align: center;
  color: #999999;
  padding: 10px 0px;
}

.footer-div {
  padding: 5px 0px;
}

html, body, .container {
  height: 100%;
}
